<div class="container">
    <div class="header-container">
        <div class="title-bar">
            <img src="assets/EDGE_Online_Main_Logo.png">
            <div>Catalog</div>
        </div>
        <div class="nav-bar">
            <div class="nav-labels-container">
                <div>Home</div>
                <div>Catalog</div>
                <div>About</div>
            </div>
            <img src="assets/EDGE_Online_Cart.png">
        </div>
    </div>
    <div class="content-container">
        <ng-content select="content"></ng-content>
    </div>
    <div class="footer-container">
        <span>Copyright 2019&nbsp; - &nbsp;</span>
        <span class="clickable">Team Edge</span>    
    </div>
</div>
    