<div class="root-container">
    <div class="header-container">
        <div class="title-bar" [ngStyle]="{'grid-template-columns': currNavBarItemIndex === 0 ? '1fr 2fr' : '1fr 1fr 1fr'}">
            <a routerLink="/home"><img src="assets/EDGE_Online_Main_Logo.png"
                [ngStyle]="{'width': currNavBarItemIndex === 0 ? '98%' : '40%'}"></a>
            <div> {{ title }} </div>
        </div>
        <div class="nav-bar">
            <div class="nav-labels-container">
                <a *ngFor="let navBarItem of navBarItems; let i=index" routerLink="/{{navBarItem.route}}"
                    [ngStyle]="{'color': currNavBarItemIndex === i ?  '#A9D162' : '#7DFBFB' }">
                    {{ navBarItem.title }}
                </a>
            </div>
            <a routerLink="/cart"><img src="assets/EDGE_Online_Cart.png"></a>
        </div>
    </div>
    <div class="content-container">
        <router-outlet (activate)="componentAdded($event)"></router-outlet>
    </div>
    <div class="footer-container">
        <span>Copyright 2019&nbsp; - &nbsp;</span>
        <a routerLink="/about" class="clickable"> Team Edge</a>    
    </div>
</div>