.title-bar {
    background-color: black;
    display: grid;
}

.title-bar img {
    height: auto;
}

.title-bar div {
    color: #001AF5;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 35px;
}

.header-container {
    font-family: 'Courier New', Courier, monospace;
}

.nav-bar {
    display: flex;
    background-color: #05215C;
    padding: 10px;
}

.nav-labels-container {
    display: flex;
}

.nav-labels-container > a {
    padding-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    font-size: 20px;
}

.nav-labels-container > a:hover,
.nav-bar img:hover {
    opacity: 0.5;
    cursor: pointer;
}

.nav-bar img {
    width: auto;
    height: 30px;
}

.nav-bar a {
    display: flex;
    justify-content: center;
    margin-left: auto;
}

.title-bar img:hover {
    cursor: pointer;
    opacity: 0.7;
}

.root-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content-container {
    background-color: #8695B6;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer-container {
    font-family: 'Courier New', Courier, monospace;
    background-color: #05215C;
    display: flex;
    justify-content: center;
    height: 30px;
}

.footer-container * {
    color: white;
    display: flex;
    align-items: center;
}

.clickable:hover {
    cursor: pointer;
}

.clickable {
    font-style: italic;
    text-decoration: none;
}

