<div class="container">
    <div class="header-container">
        <div class="title-bar">
            <img src="assets/EDGE_Online_Main_Logo.png">
            <div> {{ title }} </div>
        </div>
        <div class="nav-bar">
            <div class="nav-labels-container">
                <a routerLink="/home">Home</a>
                <a routerLink="/catalog">Catalog</a>
                <a routerLink="/about"> About</a>
            </div>
            <img src="assets/EDGE_Online_Cart.png" routerLink ="/cart">
        </div>
    </div>
    <div class="content-container">
        <router-outlet (activate)="componentAdded($event)"></router-outlet>
    </div>
    <div class="footer-container">
        <span>Copyright 2019&nbsp; - &nbsp;</span>
        <a routerLink="/about" class="clickable"> Team Edge</a>    
    </div>
</div>