<div class="container-fluid cartItem-container">
    <div class="row py-3">
        <div class="col-sm-12 col-md-4">
            <img src="../../../assets/{{cartItem.item.image}}" class="img-fluid">
        </div>
        <div class="col-sm-12 col-md-7">
                <div class="cartItem-name mb-2"><p>{{cartItem.item.name}} </p></div>
            <div class="price-block"> 
                <div class="row px-5 py-2">
                <span class="col">{{cartItem.item.price | currency}} x {{cartItem.quantity}}</span>
                <button class="btn btn-danger col" (click)="removeCartItem()" *ngIf="page =='Cart'">Remove</button>
                <span class="col" *ngIf="page =='Checkout'"> = {{cartItem.total_amount | currency}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
