.cartItem-container{
    background-color: rgb(119, 132, 250);
    border: solid darkblue;
    border-radius: 15px;
    
}


.cartItem-name{
    border-bottom: solid black;
    font-weight: bolder;
    height: 10vh;
    overflow: auto;
}

.price-block{
    background-color: rgb(53, 236, 53);
    border: solid rgb(53, 236, 53);
    color: white;
    border-radius: 15px;
}
.price-block span{
    text-overflow: ellipsis;

}