<div class="total-bar py-2">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-1"><span class=""> Checkout</span></div>
    <div class="col-1"></div>
    <div class="col-2"><span class=""> Items: {{cart.quantity}}</span></div>
    <div class="col-2"><span class=""> Total: {{cart.Total | currency}}</span></div>
    <div class="col-3"></div>
    <div class="col-2">
      <button class="btn btn-danger px-4 mr-3">Remove All</button>
    </div>
  </div>
</div>
<p>checkout works!</p>
